.doctors-list {
    margin: 1em 0;
    padding: 10px;
}

.doctors-line {
    list-style: none;
    border: solid 2px ;
    margin: 1em 0;
    padding: 10px;
    transition: .4s;
}

.doctors-line:hover {
    list-style: none;
    border: solid 2px #33AAAA;
}

.doctors-line img {
    width: 100px;
}

.doctors-line a {
    display: flex;
    margin-left: 10px;
}

.doctors-line div {
    margin-left: 30px;
}