<div>
    <!-- <input type="text" placeholder="Digite a especialidade" [(ngModel)]="search" (change)="getSearch(search)"> -->
    <input type="text" placeholder="Digite a especialidade">
</div>
<button class="btn-find-doctor" (click)="findDoctorList()">Encontre o Médico</button>

<div class="doctors-list">
    <ul>
        <li *ngFor="let doctor of doctors" class="doctors-line">
            <a href="/">
                <img [src]="renderDoctorIcon(doctor.gender)" alt="">
                <div>
                    <!-- <img src="../../../../assets/icon-doctor-male.svg" alt=""> -->
                    <h3>{{doctor.firstName}} {{doctor.lastName}}</h3>
                    <p> {{doctor.speciality.name}}</p>
                    <p>Unidade: {{doctor.localService}}</p>
                </div>
            </a>
        </li>
    </ul>
</div>