nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #777;
    background-color: #33AAAA;
}

.brand, .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 40px;
    margin-right: 0.6em;
}

.brand h2 {
    transition: .4s;
    font-size: 30px;
}

.brand:hover > h2 {
    color: #EEEE77;
}

.links li {
    margin-right: 1em;
    list-style: none;
}