<div class="container">
    <div class="title-container">
        <span>Especialidade</span>
    </div>
    <div class="input-container">
        <span>Selecione uma especialidade médica</span>
        <mat-form-field [formGroup]="formGroup">
            <mat-label>Especialidade</mat-label>
            <input formControlName="speciality" matInput type="text" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredOptions" [value]="item">
                    {{item}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<!-- <label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="selectSpeciality(newItem.value)">Add to parent's list</button> -->