<h2>Cadastro</h2>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit(); patientForm.reset()">

    <label for="first-name">Nome: </label>
    <input id="first-name" type="text" formControlName="firstName"><br>

    <label for="last-name">Sobrenome: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <button type="submit"
    [disabled]="!patientForm.valid">Confirmar</button>
</form>

<div class="saved-patient">
    <h5>Pacientes Cadastrados</h5>
    <ul>
        <li *ngFor="let patient of patients">
            <ng-template #editForm>
                <form [formGroup]="patientForm" (ngSubmit)="updatePatient(patientForm); patientForm.reset()">
                    <label for="first-name">Nome: </label>
                    <input #editFirstName type="text" formControlName="firstName">
                    <br>

                    <label for="last-name">Sobrenome: </label>
                    <input #editFirstName type="text" formControlName="lastName">

                    <button type="submit">Confirmar</button>
                </form>
            </ng-template>

            <p *ngIf="patient!==editPatient; else editForm">Nome: {{patient.firstName}}</p>
            <p *ngIf="patient!==editPatient">Sobrenome: {{patient.lastName}}</p>
            <button type="button" *ngIf="patient !== editPatient" (click)="editPatient = patient">Editar</button>
            <button *ngIf="patient!==editPatient" type="button" (click)="deletePatient(patient)">Remover</button>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>