<h2>Cadastro</h2>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

    <label for="first-name">Nome: </label>
    <input id="first-name" type="text" formControlName="firstName">

    <label for="last-name">Sobrenome: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <button type="submit"
    [disabled]="!patientForm.valid">Confirmar</button>
</form>

<div class="saved-patient">
    <h5>Pacientes Cadastrados</h5>
    <ul>
        <li *ngFor="let patient of patients; let index">
            <ng-template #editForm>
                <form [formGroup]="patientForm">
                    <label for="first-name">Nome: </label>
                    <input #editFirstName type="text" formControlName="firstName"
                    [value]="editPatient!.firstName"
                    (blur)="edit(editFirstName.value)"
                    (keydown.enter)="patientForm.setValue({firstName: editFirstName.value, lastName: null})">
                </form>
            </ng-template>

            <p *ngIf="patient!==editPatient; else editForm">Nome: {{patient.firstName}}</p>
            <p>Sobrenome: {{patient.lastName}}</p>
            <button type="button" (click)="editPatient = patient">Editar</button>
            <button type="button" (click)="deletePatient(patient)">Remover</button>
        </li>
    </ul>
</div>